@import "./color.scss";

.tabs {
  display: flex;
  justify-content: space-evenly;

  .button {
    width: 120px;
    cursor: pointer;
    margin: 2px;
    text-align: center;
    background: $greyLight-3;
    border: none;
    height: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    color: $greyDark;

    &:hover {
      background: $greyLight-2;
    }

    &:active {
      font-size: 1rem;
      transform: scale(0.9);
      box-shadow: 0 3px 15px -2px;
    }

    &closed,
    &open {
      @extend .button;
      font-weight: $bold-2;
      background-color: $greyLight-2;
    }
  }
}
